# 1. Write an SQL query to retrieve the names and email addresses of all employees from a table named "Employees

Sure, here's an SQL query to retrieve the names and email addresses of all employees from the "Employees" table:

sql

SELECT name, email

FROM Employees;

This query will select the "name" and "email" columns from the "Employees" table and return the names and email addresses of all employees in the table.

# 2. Write an SQL query to filter records from a table named "Customers" where the "City" column is 'New York'

SQL query to filter records from the "Customers" table where the "City" column is 'New York':

SELECT *

FROM Customers

WHERE City = 'New York';

# 3. Write an SQL query to sort records in descending order based on the "DateOfBirth" column in a table named "Users".

SQL query to sort records in descending order based on the "DateOfBirth" column in the "Users" table:

SELECT *

FROM Users

ORDER BY DateOfBirth DESC;

# 4. Write an SQL query to sort records in ascending order based on the "RegistrationDate" column in a table named "Users".

an SQL query to sort records in ascending order based on the "RegistrationDate" column in the "Users" table:

sql

SELECT *

FROM Users

ORDER BY RegistrationDate ASC;

# 5. Write an SQL query to find the employee with the highest salary from a table named "Employees" and display their name, position, and salary.

 the employee with the highest salary from the "Employees" table and display their name, position, and salary, you can use the following SQL query:

SELECT name, position, salary

FROM Employees

WHERE salary = (SELECT MAX(salary) FROM Employees);

This query uses a subquery (SELECT MAX(salary) FROM Employees) to find the maximum salary value from the "Employees" table. Then, it selects the "name", "position", and "salary" columns for the employee(s) whose salary matches the maximum value.

Please note that if there are multiple employees with the same highest salary, this query will return all of them. If you only want to retrieve a single record, you may need additional sorting criteria, such as using ORDER BY on a unique identifier or date column to select one employee in case of a tie.

# 6. Write an SQL query to retrieve records from a table named "Customers" where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX'.

To retrieve records from the "Customers" table where the "Phone" column matches the pattern '+1-XXX-XXX-XXXX', you can use the LIKE operator with a wildcard pattern. The '%' symbol is used as a wildcard to match any sequence of characters.

Here's the SQL query:

SELECT *

FROM Customers

WHERE Phone LIKE '+1-___-___-____';

In this query, the underscore '_' is used as a placeholder for a single character. So, the pattern +1-___-___-____ will match any phone number that starts with "+1-" followed by three characters, a hyphen, three more characters, another hyphen, and finally, four more characters. This ensures that the "Phone" column follows the format '+1-XXX-XXX-XXXX', where 'X' represents any digit (0-9).

This query will return all records from the "Customers" table where the "Phone" column matches the specified pattern.

# 7. Write an SQL query to retrieve the top 5 customers with the highest total purchase amount from a table named "Orders" and display their names and total purchase amounts

To retrieve the top 5 customers with the highest total purchase amount from the "Orders" table and display their names and total purchase amounts, you can use the following SQL query:

SELECT customer_name, SUM(purchase_amount) AS total_purchase_amount

FROM Orders

GROUP BY customer_name

ORDER BY total_purchase_amount DESC

LIMIT 5;

In this query:

We are selecting the "customer_name" column and the sum of "purchase_amount" for each customer using SUM(purchase_amount) and aliasing it as "total_purchase_amount".

We are grouping the results by the "customer_name" using GROUP BY customer_name, which ensures that we get the total purchase amount for each customer.

We are then ordering the results in descending order based on the "total_purchase_amount" using ORDER BY total_purchase_amount DESC.

Finally, we use LIMIT 5 to retrieve only the top 5 customers with the highest total purchase amounts.

This query will give you the names and total purchase amounts of the top 5 customers who have spent the most on their purchases.

# 8. Write an SQL query to calculate the percentage of sales for each product category in a table named "Sales" and display the category name, total sales amount, and the percentage of total sales.

To calculate the percentage of sales for each product category in the "Sales" table and display the category name, total sales amount, and the percentage of total sales, you can use the following SQL query:

SELECT category_name,

       SUM(sales_amount) AS total_sales_amount,
    
       (SUM(sales_amount) / (SELECT SUM(sales_amount) FROM Sales)) * 100 AS percentage_of_total_sales
        
FROM Sales

GROUP BY category_name;

In this query:

We are selecting the "category_name" column, calculating the sum of "sales_amount" for each category using SUM(sales_amount), and aliasing it as "total_sales_amount".

We are using a subquery (SELECT SUM(sales_amount) FROM Sales) to calculate the total sales amount across all categories.

We are dividing the sum of "sales_amount" for each category by the total sales amount (calculated in the subquery) and then multiplying it by 100 to get the percentage of total sales for each category. This is aliased as "percentage_of_total_sales".

We are grouping the results by "category_name" using GROUP BY category_name, which ensures that we get the calculations for each product category.

The query will provide you with the category name, total sales amount for each category, and the percentage of total sales that each category contributes.

# 9. Write an SQL query to find the customers who have made the highest total purchases across all years from a table named "Orders" and display their names, email addresses, and the total purchase amount.

To find the customers who have made the highest total purchases across all years from the "Orders" table and display their names, email addresses, and the total purchase amount, you can use the following SQL query:

SELECT customer_name, email, SUM(purchase_amount) AS total_purchase_amount

FROM Orders

GROUP BY customer_name, email

ORDER BY total_purchase_amount DESC

LIMIT 1;

In this query:

We are selecting the "customer_name" column, the "email" column, and calculating the sum of "purchase_amount" for each customer using SUM(purchase_amount), and aliasing it as "total_purchase_amount".

We are grouping the results by both "customer_name" and "email" using GROUP BY customer_name, email. This ensures that we get the total purchase amount for each individual customer.

We are then ordering the results in descending order based on the "total_purchase_amount" using ORDER BY total_purchase_amount DESC.

Finally, we use LIMIT 1 to retrieve only the top customer who has made the highest total purchase amount across all years.

This query will give you the name, email address, and the total purchase amount of the customer who has made the highest total purchases across all years in the "Orders" table.